@import 'tailwindcss';

:root {
    --background: #ffffff;
    --foreground: #171717;
}

body {
    overflow-y: scroll;
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
